@import 'settings';
@import 'foundation';

.dash-header {
  background-color: darken($primary-color, 10%);
  padding-top: 8vh;
  padding-bottom: 8vh;

  h1, h2, h3, h4, h5, h6, p {
    color: $white;
  }
}
