@import 'settings';
@import 'foundation';

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

$topbar-responsive-bg: #fefefe;
$topbar-responsive-animation-type: fade-in; // or use slide-down or none

.topbar-responsive {
  background: $topbar-responsive-bg;
  padding: 1rem 1.5rem;


  .topbar-responsive-logo {
    color: $dark-gray;
    vertical-align: middle;
  }

  .menu {
    background: $topbar-responsive-bg;

    li:last-of-type {
      margin-right: 0;
    }

    a {
      color: $dark-gray;
      transition: color 0.15s ease-in;

      &:hover {
        color: lighten($primary-color, 20%);
      }

      @media screen and (max-width: 39.9375em) {
        padding: 0.875rem 0;
      }
    }

    .topbar-responsive-button {
      color: $dark-gray;
      border-color: $dark-gray;
      border-radius: 5000px;
      transition: color 0.15s ease-in, border-color 0.15s ease-in;

      &:hover {
        color: lighten($primary-color, 20%);
        border-color: lighten($primary-color, 20%);
      }

      @media screen and (max-width: 39.9375em) {
        width: 100%;
        margin: 0.875rem 0;
      }
    }
  }

   @media screen and (max-width: 39.9375em) {
     padding: 0.75rem;

    .top-bar-title {
      position: relative;
      width: 100%;

      span {
        position: absolute;
        right: 0;
        border: 1px solid $dark-gray;
        border-radius: 5px;
        padding: 0.25rem 0.45rem;
        top: 50%;
        transform: translateY(-50%);

        .menu-icon {
          margin-bottom: 4px;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity:0;
  } to {
    opacity:1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@include breakpoint(small only) {
  .topbar-responsive-links {
    animation-fill-mode: both;
    animation-duration: 0.5s;
    width: 100%;

    @if $topbar-responsive-animation-type == slide-down {
      animation: slideDown 1s ease-in;
    } @else if $topbar-responsive-animation-type == fade-in {
      animation: fadeIn 1s ease-in;
    } @else {
      animation: none;
    }
  }
}



$marketing-site-footer-bg: $dark-gray;

.marketing-site-footer {
  background: $marketing-site-footer-bg;
  color: lighten($marketing-site-footer-bg, 40%);
  padding: 2rem 0 0;

  .marketing-site-footer-menu-social a {
    color: $white;
  }

  .column-block {
    margin-bottom: 30px;
  }

  > .row {
    margin-bottom: 1rem;
  }

  @include breakpoint(small only) {
    .columns {
      margin-bottom: 2rem;
    }
  }
}

.marketing-site-footer-name {
  color: $white;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.marketing-site-footer-title {
  color: $white;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.marketing-site-footer-block {
  display: flex;
  margin-bottom: 1rem;

  .fa {
    font-size: 2rem;
    color: darken($marketing-site-footer-bg, 20%);
  }

  p {
    margin-left: 1rem;
    line-height: 1.125rem;
  }
}

.marketing-site-footer-bottom {
  background: darken($marketing-site-footer-bg, 20%);
  padding: 1rem 0;

  p,
  .menu {
    margin-bottom: 0;
  }

  .marketing-site-footer-bottom-links {
    justify-content: flex-end;

    a {
      color: lighten($marketing-site-footer-bg, 40%);
    }

    @include breakpoint(medium down) {
      justify-content: center;
    }
  }

  @include breakpoint(medium down) {
    text-align: center;
  }
}

// alerts
$alert-box-opacity: 0.2;

.alert-box {
  padding-right: 3.25rem;
  width: 100%;

  &.callout {
    color: $white;
    font-weight: bold;
  }

  &.alert {
    border: 3px solid $alert-color;
    border-radius: 5px;
    background-color:rgba($alert-color, $alert-box-opacity);
  }

  &.warning {
    border: 3px solid $warning-color;
    border-radius: 5px;
    background-color:rgba($warning-color, $alert-box-opacity);
  }

  &.success {
    border: 3px solid $success-color;
    border-radius: 5px;
    background-color:rgba($success-color, $alert-box-opacity);
  }

  &.info {
    border: 3px solid $primary-color;
    border-radius: 5px;
    background-color:rgba($primary-color, $alert-box-opacity);
  }

  i {
    border: 2px solid $white;
    border-radius: 50%;
    padding: .3em .325em;
    margin-right: 0.5rem;
  }

  .close-button {
    color: rgba($white, 0.5);
    font-size: 2rem;
    @include vertical-center;
    right: 1rem;
    font-weight: bold;
  }
}

// signed in
$nav-text-color: $white;
$nav-height: 75px;
$nav-background: #2c3840;
$offcanvas-padding: 20px;

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $white;
  height: $nav-height;
  margin-bottom: 75px;

  .nav-bar-logo {
    padding: 1.8rem;
  }

  li {
     background: $white;
  }

  a {
    color: $nav-text-color;
    transition: color 0.2s ease-in;

    &:hover {
      color: lighten($nav-background, 50%);
    }
  }

  @media screen and (max-width: 39.9375em) {
    height: $nav-height/1.4;
  }

  .offcanvas-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.6rem;
    color: $nav-text-color;
    text-transform: uppercase;
    background-color: lighten($nav-background, 20%);
    transition: background-color 0.2s ease-in;
    cursor: pointer;

    .offcanvas-trigger-text {
      margin-right: 0.25rem;
      margin-top: 0.25rem;
    }

    &:hover {
      background-color: lighten($nav-background, 30%);
    }

    @media screen and (max-width: 39.9375em) {
      padding: 0.9rem;
    }
  }
}

.multilevel-offcanvas {
  background: darken($primary-color, 20%);
  padding: 20px;
  color: $white;

  > .menu {
    margin-bottom: 1rem;
  }

  .menu a {
    color: rgba($nav-text-color,.6);
    padding-top: 7px;
    padding-bottom: 7px;
    transition: color 0.2s ease-in;

    &:hover {
      color: $nav-text-color;
    }
  }

  .fa {
    color: $nav-text-color;
  }

  .is-accordion-submenu-parent > a::after {
    border-color: rgba($nav-text-color,.6) transparent transparent;
  }

  .social-links {
    margin-left: $offcanvas-padding;

    li {
      margin-right: 5px;
    }

    a:hover .fa {
      color: darken($nav-text-color,25%);
      transition: color .2s ease-in;
    }

    .fa {
      font-size: 2.2rem;
    }
  }
}

.body-info {
  text-align: center;
  color: $nav-background;

  .button {
    margin: 1rem 0;
    padding: 0.85em 2em;
  }
}

.is-open + .off-canvas-content .hamburger {
  .line:nth-child(1),
  .line:nth-child(3) {
    width: 12px;
  }

  .line:nth-child(1) {
    transform: translateX(-5px) rotate(-45deg);
  }

  .line:nth-child(3) {
    transform: translateX(-5px) rotate(45deg);
  }
}

.hamburger .line {
  width: 20px;
  height: 2px;
  background-color: $nav-text-color;
  display: block;
  margin: 3px auto;
  transition: all 0.3s ease-in-out;

  &:last-child {
    margin-bottom: 0;
  }
}
