
<div class="landing-hero">
  <div class="landing-hero-content">
    <h1>Sail University</h1>
    <p class="subheader">Editable</p>
    <a href="#" class="round button">LeArn more</a>
  </div>
</div>
