<div class="landing-hero">
  <div class="landing-hero-content">
    <h1>Sail the Seas</h1>
    <p class="subheader">We are a group of sailors and mariners that want to make learning to sail accessable and affordable to everyone. We have classes focused on learning to sail and on how to responsibly boat.</p>
    <a href="#" class="round button">LeArn more</a>
  </div>
</div>

<section class="marketing-site-three-up">
  <h2 class="marketing-site-three-up-headline">Furry, Reliable, Cuddly</h2>
  <div class="row medium-unstack">
    <div class="columns">
      <i class="fa fa-gg" aria-hidden="true"></i>
      <h4 class="marketing-site-three-up-title">Keyless Entry</h4>
      <p class="marketing-site-three-up-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi sint, voluptatibus eaque natus ad eius.</p>
    </div>
    <div class="columns">
      <i class="fa fa-user-o" aria-hidden="true"></i>
      <h4 class="marketing-site-three-up-title">Invincible Igloo</h4>
      <p class="marketing-site-three-up-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi sint, voluptatibus eaque natus ad eius.</p>
    </div>
    <div class="columns">
      <i class="fa fa-check-square-o" aria-hidden="true"></i>
      <h4 class="marketing-site-three-up-title">Stereo System</h4>
      <p class="marketing-site-three-up-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi sint, voluptatibus eaque natus ad eius.</p>
    </div>
  </div>
</section>
